* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  color: white;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgb(7, 2, 59);
  color: white;
}
