/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* background: transparent; */
/* background-color: rgb(7, 2, 59); */
/* color: black; */
/* } */

/* body {
  overflow: hidden;
  overflow-y: scroll; */
/* background-color: rgb(7, 2, 59); */
/* color: white; */
/* } */

/* .LogoImage {
  height: 5.125rem;
  width: 8.375rem;
} */

/* .navbar {
  letter-spacing: 0.004rem; */
/* cursor: pointer;  */
/* font-weight: 500;
} */

/* .collapse {
  flex-direction: row-reverse;
  text-transform: uppercase;
} */

/* .navbar-nav > li > a {
  margin-left: 5 rem;
  margin-right: 5 rem;
} */

/* .HeaderClass {
  background-image: url("bgimg1.jpg"); */
/* background-image: no-repeat; */
/* background-image: url; */
/* background-size: cover;
  width: 100%;
  position: relative;
  background-position: center;
  height: 90vh;
} */

/* .HeaderClass h4 {
  z-index: 11;
  color: white; */
/* position: absolute; */
/* } */
